{% for key in USERS %}

  #### Start {{ key }} ####
  useradd {{ key }}
  usermod -s /sbin/nologin {{ key }}
  mkdir /home/{{ key }}/.ssh
  echo {{ USERS[ key ][ 'public_key' ] }} >> /home/{{ key }}/.ssh/authorized_keys
  chmod -R 700 /home/{{ key }}/.ssh
  chown -R {{ key }}. /home/{{ key }}/.ssh
  ### End {{ key }} ####

{% endfor %}
